/*** Projects styling ***/
.project {
    text-align: inherit;
    transition: all 0.2s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.title-projects {
    text-align: right;
}

/*** Individual projects ***/
.nattklar, .snake, .cchat {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.gremblebot, .gochat {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nattklar img {
    width: 20em;
}

.gremblebot img {
    width: 30em;
}

.snake img {
    width: 30em;
}
