/*** Projects styling ***/
.project {
    text-align: inherit;
    transition: all 0.2s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.title-projects {
    text-align: right;
}

img {
    border-radius: 5px;
}

/*** Individual projects ***/
.nattklar, .snake, .cchat {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.gremblebot, .gochat {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nattklar img {
    width: 20em;
}


.nattklar-body, .cchat-body, .snake-body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.gremblebot-body, .gochat-body {
    display: flex;
    align-items: center;
}

.project-description {
    margin: 2em;
    padding: 2em;
    background-color: #282828;
    border-radius: 5px;
    color: #cccccc;
}

.gremblebot img {
    width: 30em;
}

.snake img {
    width: 30em;
}
