/*** Projects styling ***/
.project {
    text-align: inherit;
    transition: all 0.2s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.project:not(:hover) {
  transform: scale(1);
}

.title-projects {
    text-align: right;
}

.nattklar, .snake {
    text-align: right;
}

.nattklar img {
    width: 20em;
}

.gremblebot img {
    width: 30em;
}

.snake img {
    width: 30em;
}
