@font-face {
    font-family: 'JetBrains Mono';
    src: url('/src/assets/fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'Agressive';
    src: url('/src/assets/fonts/AGRESSIVE.otf');
}

@font-face {
    font-family: 'RussoOne';
    src: url('/src/assets/fonts/RussoOne-Regular.ttf');
}

body {
    font-size: 1.15em;
    background-color: #151515;
    color: #ffffff;
    margin-left: 10vw;
    margin-right: 10vw;
}

.title-wrapper {
    font-family: RussoOne;
    margin-bottom: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title-name {
    text-shadow: 0 0 150px #e1b655;
    color: #e1b655;
    display: inline-block;
    margin: 0;
}

.socials {
}

.title-socials {
    color: #e1b655;
    font-family: RussoOne;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.social:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.social:not(:hover) {
  transform: scale(1);
}

.social-link {
    font-weight: bold;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.discord {
    background-color: #6c7fc9;
}

.github {
    background-color: #1b1f23;
}

.twitch {
    background-color: #6b2497;
}
